.parent-main{
  background-color: rgb(206, 128, 128);
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30rem;
  height: 40rem;
  background-color: black;
  margin: auto;
  background-color: rgba(239, 231, 205, 0.435);
  }
  .parent {
    /* border: 2px solid rgb(138, 135, 141);
    background-color: rgba(128, 128, 128, 0.582); */
    height: 99.7vh;
  
    background: url("");
  }
  
  /* @media  screen and (max-width:660px) {
    .parent{
    background-color: red;
    }
  } */
  
  
  .input {
    width: 20rem;
    border-radius: 30px;
    height: 3rem;
    border: none;
    text-align: center;
    font-size: 1.5rem;
  }
  .btn {
    padding: 5px 5px;
    width: 19rem;
    color: red;
    height: 3rem;
    border-radius: 30px;
    border: none;
    font-size: 1.5rem;
  }
  
  